
<div class="jumbotron">


  <div >
    <p id="desc">
      The house billing system stores customer information. It calculates the house tax of the customer based on area, House Type, Locality.
      The generating reports we will be able to display all the details of customer file with details in the form of files.
      payments of the customers will be updated.
    </p>
  </div>

  <hr>

  <div id="register">
    <label for="" style="margin-right: 20px;">Existing user?</label>
    <button style="margin-right: 70px;" class="btn btn-info" (click)="login()">Login</button>

    <label for="" style="margin-right: 20px">New user?</label>
    <button style="margin-right: 80px;" class="btn btn-warning" (click)="register()">Register</button>
  </div>

<h4 style="color: #fa0b0b; text-align: center; margin-top: 60px;">Pay tax with in 15 days of bill Generation Date or you will have to pay fine.</h4>
</div>