<hr>

<h2 style="text-align-last: center;height: 80px;padding-top: 20px; background-color: rgba(245, 241, 8, 0.911);">Registration</h2>
<hr>

<form #loginForm="ngForm" style="padding-left: 400px;padding-right: 400px;">
  <div>
    <label for="fName">First Name:</label>
    <input placeholder="ex: Ameen" type="text" class="form-control" id="fName" #fName="ngModel"
      pattern="[A-Z][a-z]{2,12}" name="fName" [(ngModel)]="registration.firstName" required>
    <div [hidden]="fName.valid || fName.pristine" class="alert alert-danger">First Name is not valid. First letter must
      by Uppercase and min=3, max=12</div>
  </div>

  <div>
    <label for="lName">Last Name:</label>
    <input type="text" class="form-control" pattern="[A-Z][a-z]{0,12}"  id="lName" name="lName" [(ngModel)]="registration.lastName" #lName="ngModel" required>
    <div [hidden]="lName.valid || lName.pristine" class="alert alert-danger">Last Name is not valid. First letter must
        by Uppercase and min=1, max=12</div>
  </div>

  <div>
    <label for="hNo">House Number:</label>
    <input type="text" maxlength="4" pattern="[0-9]{2,4}" class="form-control" id="hNo" name="hNo" [(ngModel)]="registration.houseNo" #hNo="ngModel" required>
    <div [hidden]="hNo.valid || hNo.pristine" class="alert alert-danger">House Number is not valid. Only Numbers are accepted min=3</div>
  </div>

  <div>
    <label for="pNo">Plot Number:</label>
    <input type="text" maxlength="4" pattern="[0-9]{1,4}" class="form-control" id="pNo" name="pNo" [(ngModel)]="registration.plotNo" #pNo="ngModel" required>
    <div [hidden]="pNo.valid || pNo.pristine" class="alert alert-danger">Plot Number is not valid. Only Numbers are accepted min=1</div>
  </div>

  <div>
    <label for="area">Area (in Sq.ft):</label>
    <input type="number" class="form-control" id="area" name="area" [(ngModel)]="registration.area" #area="ngModel" required>
    <div [hidden]="area.valid || area.pristine" class="alert alert-danger">Area is accepted in square feet . Only Numbers are accepted min=1</div>
  </div>

  <div>
    <label>Select Locality:</label>
    <select [(ngModel)]="registration.locality" name="locality" class="form-control" required>
      <!-- <option value="select">Select </option> -->
      <option value="Thanisandra">Thanisandra</option>
      <option value="White_Field">White Field</option>
      <option value="HBR_Layout">HBR Layout</option>
    </select>
  </div>

  <div>
    <label>Select HouseType:</label>
    <select [(ngModel)]="registration.houseType" name="houseType" class="form-control" required>
      <!-- <option value="select">Select </option> -->
      <option value="Penthouses">Penthouses</option>
      <option value="Apartments_and_Flats">Apartments and Flats</option>
      <option value="Villas">Villas</option>
      <option value="Farmhouses">Farmhouses</option>
      <option value="Eco_friendly_Homes">Eco friendly Homes</option>
    </select>
  </div>

  <div>
    <label for="prn">Property Registration Date:</label>
    <input type="date" class="form-control" name="propertyRegistrationDate"
      [(ngModel)]="registration.propertyRegistrationDate" required>
  </div>

  <div>
    <label for="userName">User Name:</label>
    <input (click)="user($event)" type="text" pattern="[a-z]{2,12}" id="userName" class="form-control" name="userName" [(ngModel)]="login.userName" #userName="ngModel" required>
    <div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">User Name is not valid. min=5, max=12</div>
    <div id="sameId" hidden class="alert alert-danger">User Name Already Registered. Use different User Name
      or try Logging in.
    </div>
  </div>


  <div>
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" name="pwd" [(ngModel)]="login.password" required>
  </div>

  <div>
    <label for="cpwd">Confirm Password:</label>
    <input type="password" class="form-control" name="cpwd" [(ngModel)]="login.cPassword" required
      pattern="{{login.password}}">
  </div>

  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary" style="margin-top: 10px;"
    (click)="onRegister()">Register</button>

</form>