<div id="navg">
    

      <nav class="navbar navbar-default">
          <div style="margin-right: 900px;" class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" routerLink="homepage">House Tax Billing</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="./main-page">Home</a></li>
              
            </ul>
          </div>
        </nav>
    
</div>
<header id="heading">
  {{ title }}
</header>


<router-outlet></router-outlet>